
<h3>Prontuário Médico</h3>
    <div>
        <h1>
            <div id="rodape" align="higher">
                <div align="higher">
        
                </div>
        
        <div id="title">
              
        <h1>Cadastro de Pacientes</h1>
        <p>Complete as informações</p>
        <br>
        <main class="principal">
            <h2 class="principal__title">Dados do cadastro</h2>
      
    <form class="principal_form" id="form"> 
          
         <fieldset class="group">

            <div class="mat-form-field">
                <label for="number">Número do prontuário:</label>
                <input type="number" name= "number" id= "number" required>
                <mat-form-field appearance="fill">
                    <mat-label>Input</mat-label>
                    <input matInput>
                
            
            </div>
            <br>
            <div class="mat-form-field">
                 <label for="id">Identificação do paciente:</label>
                 <input type="id" name="id" id= "id" required>    
            </div>
            <br>
            <div class="mat-form-field">
                <label for="number">Identificação do médico:</label>
                <input type="number" name="number" id="number">
                <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </div>
        </fieldset>
        <br>
      
        <fieldset class="grupo">
             <div class="mat-form-field">
                <label for="Status do paciente">Status do paciente:</label>
                <input type="text" name="status do paciente" id="status do paciente" required>
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
             </div>
             <br>
             <div class="mat-form-field">
                <label for="Perscrição">Perscrição médica:</label>
                <input type="text" name="" id="nome do pai">
                <mat-form-field appearance="fill">
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
             </div>
             <br>
             <div  class="mat-form-field">
                <label for="date">Criado na data:</label>
                <input id="date" type="date">
             </div>
                <br>
            
                <div class="mat-form-field">
                    <label for="date">Editado na data:</label>
                    <input id="date" type="date">
                </div>
                <br>
        </fieldset>

        
        <fieldset>
            <div>
                
                <label>
                        <button mat-raised>
                           <mat-icon>Editar</mat-icon>
                           Editar
                        </button>
                    </label>          

                    <label>
                        <button mat-raised>
                          <mat-icon> Concluir</mat-icon>
                           Concluir
                        </button>
                   </label>
                
                
                </div>
        </fieldset>

  